* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color:#6082B6;
    display: flex;
    flex-wrap: wrap;
}

#Btn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #DC3535;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

#Btn:hover
{
    cursor: pointer;
}

.note {
    width: 400px;
    height: 400px;
    /* background-color: #FFE15D; */
    margin: 15px;
    margin-top: 55px;
    order: 2;
    
}

.pinned {
    order: 1;
}

.tool {
    width: 100%;
    background-color: #343636;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
    border-radius: 5px 5px 0px 0px;
    
}

.tool i {
    padding: 5px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.799));
}

.colorPickerMenu {
display: flex;
flex-direction: row;

}

.colorDivContainer
{
display: none;
flex-direction: row;
align-items: center;
gap: 2px;


}

.colorDiv
{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    
}

.colorDiv:hover
{
cursor: pointer;
}

#ColorDivDefault
{
    background-color: #FFE15D;
}

#ColorDivRed
{
    background-color: #E97777;  
}

#ColorDivGreen
{
    background-color: #B6E2A1;   
}

#ColorDivBlue
{
    background-color: #B8E8FC; 
}

#ColorDivPurple
{
    background-color: #B1AFFF; 
}



.note .title
{
    width: 100%;
    height: 25px;
    padding: 4px;
    font-size: 15px;
    border: none;
    resize: none;
    background-color: #3e4040;
    font-family:Georgia, 'Times New Roman', Times, serif;  
    color: rgb(207, 206, 206);
    font-style: italic;
    border-radius: 5px;
    filter:drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.388)) ;
    
    
    
}

.note .title:focus {
    border: 0;
    outline: 0;
}



.note textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    resize: none;
    background-color: #FFE15D;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 0% 0% 4% 4%;

}

.note .noteText{
    box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.308);
}

.note textarea:focus {
    border: 0;
    outline: 0;
}

.note .timeStamp
{
    color: rgba(0, 0, 0, 0.395);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    
}