body {
    background-color: grey;
}

#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}


#slider .slides {
    display: flex;
    animation-name: train-left;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;

}

@keyframes train-left {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(-2000px);
    }
}