body{
    background-color: #E4EFE7;
}

.audiotrack{
    display: none;
}

.fa-record-vinyl{
    color:rgb(8, 163, 8);
}

#keys
{
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.key{
    position: relative;
    top: 15px;
    width: 100px;
    height: 100px;
    background-color: #525E75;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 5px 20px 2px rgba(0, 0, 0, 0.514);
    
}

.key p{
font-size: 18px;
}

button{
    cursor: pointer;
}